@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: .3s;
  outline: none;
}

button:active {
  scale: .9;
}

button {
  cursor: pointer;
}

body {
  background: #CD5A91;
  overflow: hidden;
}

main {
  overflow-y: scroll;
  height: 500px;
}


header {
  background: #AC4C7A;
  width: 100%;
  height: 55px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  gap: 15px;
  border-bottom: 1px solid #D575A3;
}

.left-header {
  display: flex;
  gap: 15px;
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
}

.title-header:hover {
  background-color: #BC6F94;
}

header img {
  filter: invert(100%);
}

.center-header {
  display: flex;
  gap: 10px;
  position: relative;
  margin-left: 30px;
}

.center-header select {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.center-header select:hover {
  background-color: #BC6F94;
}

.center-header button {
   border: none;
   background-color: #BC6F94;
   padding: 8px 15px;
   border-radius: 5px;
   color: white;
   margin-right: 10px;
}

.center-header button:hover {
  background-color:#C887A6;
}

.inp-search {
  border: none;
  outline: none;
  background-color: #BC6F94;
  color: white;
  padding: 5px 10px 5px 25px;
  border-radius: 5px;
  border: 1px solid #C887A6;
  transition: .3s;
  display: block;
  position: relative;
}

.inp-search:hover  {
  background-color:#C887A6;
}

.inp-search::placeholder {
  color: white;
}


.input-block-search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-img {
  position: absolute;
  top: 7px;
  left: 3px;
  z-index: 10;
}

.right-header {
  display: flex;
  gap: 20px;
}

.user-icon {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: gray;
  cursor: pointer;
}

.left-blind {
  height: 93%;
  width: 18%;
  position: absolute;
  left: 0;
  top: 55px;
  background-color: #AD4C7A;
  border-right: 1px solid #D575A3;
  z-index: 5;
  margin-left: -17%;
  transition: 1s;
}

.arrow-block {
  position: absolute;
  right: -15px;
  top: 10px;
  border: 2px solid #9B5B79;
  background-color: #883C60;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
}

.arrow-block:active {
  scale: .9;
}

.arrow-block img{
  filter: invert(100%);
  width: 15px;
  height: 15px;
  transition: .5s;
}

.under-header{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 15px;
  background-color: #9C446E;
  padding-left: 40px;
  position: relative;
}

.under-header select {
  background-color: #4688E8;
  border: none;
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 5px 7px;
  cursor: pointer;
}

.star-block {
  background-color: transparent;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;
}

.star-block:hover {
  background-color: #BC6F94;
}

.star-block img {
  filter: invert(100%);
  width: 15px;
}

.under-header hr {
  height: 20px;
  width: 1px;
  background: white;
  border: none;
}


.btn-invite {
  border: none;
  border-radius: 5px;
  background-color: #86DEF680;
  color: white;
  padding: 8px 5px;
  transition: .4s;
  position: relative;
}

.btn-invite:hover {
  background-color: #FFFFFF;
}

.also {
  width: 100px;
  height: 30px;
  background-color: #86DEF680;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-left: 100px;
}

.also img {
  width: 20px;
}

.main-left-header {
  display: flex;
  align-items: center;
}

.inp-search-2-version {
  width: 400px;
  padding: 5px;
  border: 1px solid #83A2E9;
  background-color: white;
  border-radius: 5px;
  padding-left: 26px;
}

.black-img {
  filter: invert(0%);
}

.menu-block {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.user-icon-back:hover,
.menu-block:hover,
.info-icon-block:hover,
.bing-icon-block:hover  {
  background-color: #BC6F94;
}

.user-icon-back,
.info-icon-block,
.bing-icon-block{
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}


.user-icon-back,
.bing-icon-block {
  margin-left: -10px;
}

.star-icon:hover {
  scale: 1.1;
}

.people-icon {
  filter: invert(100%);
}

.people-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.people-block:hover {
  background-color: #BC6F94;
}

.people-block span {
  font-size: 14px;
  font-weight: 400;
}

.btn-invite {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #DFE1E6;
  color: black;
}

.title {
  padding: 5px;
}

.title-in-head {
  position: relative;
  width: 80px;
  height: 30px;
}

.title-in-head {
  background-image: url(https://trello.com/assets/d947df93bc055849898e.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.title-in-head:hover {
  background-image: url(https://trello.com/assets/87e1af770a49ce8e84e3.gif);
}

.title-anim {
  filter: invert(0);
}

.under-left,
.under-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.upgrade-block {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.upgrade-block:hover {
  background-color: #BC6F94;
}

.link {
  border: none;
  background-color: #DFE1E6;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  margin-right: 20px;
}

.link:hover  {
  background-color: white;
}

.choose-ava {
  background-color: #C887A6;
  width: 500px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: 50%;
  translate: 50% 50%;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 10px;
  z-index: 16;
  display: none;
  transition: .3s;
  scale: 0;
}

.user-icon {
  display: flex;
}

.user-icon img {
  filter: invert(0);
}

.all-user-icon-block {
  margin-top: 20px;
  gap: 10px;
  margin-left: 50px;
}

.all-user-icon-block img {
  cursor: pointer;
}

.back-modal {
  background-color: black;
  opacity: .7;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 15;
  display: none;
}

.close-icon {
  cursor: pointer;
  width: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.todo-block {
  background-color: #F1F2F4;
  border-radius: 10px;
  border: none;
  width: 271px;
  height: auto;
  padding: 10px;
  position: relative;
  margin-top: 5px;
}

.title-input {
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #172B4D;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  background-color: #F1F2F4;
}

.title-input-2 {
  border: 2px solid #4688E8;
  cursor: auto;
  font-size: 12px;
  color: #172B4D;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

main {
  margin-left: 30px;
  margin-top: 10px;
}

.dots-block {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.dots-block img {
  width: 20px;
}

.dots-block:hover {
  background-color: #DFE1E6;
}

.todo-card {
  width: 250px;
  background-color: white;
  height: 100px;
  border-radius: 5px;   
  padding: 8px 5px;
  box-shadow: 0 0 1px 1px #ABB3BF;
  cursor: pointer;
  position: relative;
}

.time-block {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.time-block img{
  width: 20px;
}


.user-icon-in-todo {
  display: flex;
}

.description {
  font-size: 20px !important;
}

.pencil-block {
  position: absolute;
  top: 5px;
  right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.pencil-block:active {
  scale: .9;
}

.todo-card:hover .pencil-block{
  background-image: url(./public/icon/pencil.svg);
}

.pencil-block:hover{
  background-color: #DFE1E6;
}

.todo-card:hover {
  background-color: #F1F2F4;
}

.todo-card p {
  font-size: 12px;
}

.todo-card input {
  border: none;
  background-color: white;
  cursor: pointer;
}

.todo-card:hover input {
  background-color: #F1F2F4;
}

.all-todo-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  min-height: 100px;
}

.all-main-block {
  display: flex;
  gap: 10px;
}

.add-card {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 10px;
  padding: 2px 4px;
  padding-right: 80px;
  color: #768296;
  font-size: 14px;
}

.add-card p  {
  font-size: 25px;
}

.add-card:hover {
  background-color: #DFE1E6;
}

.add-todo-block {
  width: 271px;
  padding: 10px;
  height: 60px;
  background-color: #BC6F94;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.add-todo-block:active {
  scale: .9;
}

.add-todo-block:hover  {
  background-color: #D575A3;
}

.add-todo-block p {
  font-size: 24px;
  margin-right: 20px;
}

.all-todo-block {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.create-task-block {
  width: 700px;
  height: 600px;
  background-color: #883C60;
  border-radius: 10px;
  position: absolute;
  top: -25%;
  right: 50%;
  translate: 50% 50%;
  padding: 30px;
  color: white;
  scale: 0;
  overflow: hidden;
  z-index: 20;
}

.close {
  filter: invert(100%);
}

.close:hover {
  filter: invert(80%);
}

.create-task-block p {
  margin-bottom: 10px;
}

.create-task-block select,
.create-task-block input {
  background-color: #9B5B79;
  border: none;
  width: 600px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}


.create-task-block option {
  font-size: 16px;
}

.btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.btn-block button {
  background-color: #9B5B79;
  color: white;
  border: 1px solid #BC6F94;
  border-radius: 5px;
  padding: 10px;
  font-style: 16px;
}


.user-block {
  display: flex;
  background-color: #9B5B79;
  align-items: center;
  gap: 10px;
  width: 170px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  margin-bottom: 10px;
}

.users-block {
  display: flex;
  width: 100%; 
  gap: 5px;
  overflow: auto;
  flex-wrap: nowrap; 
}

.users-block div {
  flex-shrink: 0; 
}

.user-block p {
  margin-top: 12px;
}

.user-close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
  cursor: pointer;
  filter: invert(100%);
}

.hold {
  border: solid red 4px !important;
}

.invisible {
  display: none;
  cursor: pointer;
  border: solid red 4px;
  rotate: 45deg;
}

.hovered {
  background: gray;
  border-radius: 10px;
}

.hovered > .all-todo-card {
  height: 100px;
}


::-webkit-scrollbar {
  width:15px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background-size: contain;
}

.user-block-icon {
  background-color: #172B4D;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  cursor: pointer;
  margin-left: -5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-block-icon img {
  width: 31px;
  margin-left: -2px;
  margin-top: -2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.user-block-icon:hover img  {
  z-index: 10;
}

.users-icon-block {
  display: flex;
}

.user-div {
  display: flex;
  gap: 3px;
}

.add-user {
  padding: 8px 8px;
  border: none;
  background-color: #BC6F94;
  color: white;
  border-radius: 5px;
}

.add-user:hover {
  background-color: #C887A6;
}

.add-user-modal {
  width: 700px;
  height: 460px;
  background-color: #883C60;
  border-radius: 10px;
  position: absolute;
  top: -25%;
  right: 50%;
  translate: 50% 50%;
  padding: 30px;
  color: white;
  z-index: 20;
  scale: 0;
}

.close-user-add-icon {
  filter: invert(100%);
}

.add-user-modal select,
.add-user-modal input {
  background-color: #9B5B79;
  border: none;
  width: 600px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}

.add-user-modal p {
  margin-bottom: 10px;
}

.add-user-modal option {
  font-size: 16px;
}

.choose-avatar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.choose-avatar img {
  cursor: pointer;
  border-radius: 100%;
}

.choose-avatar img:active {
  scale: .9;
}

.selected-ava  {
  border: 2px solid white;
  scale: 1.1;
}

.add-block {
  width: 500px;
  height: 200px;
  background-color: #883C60;
  position: absolute;
  top: -5%;
  right: 50%;
  translate: 50% 50%;
  z-index: 30;
  border-radius: 10px;
  padding: 30px;
  display: none;
}

.add-block input {
  background-color: #9B5B79;
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}

.add-block p {
  margin-bottom: 10px;
  color: white;
}

.close-add-block {
  filter: invert(100%);
}

.remake-title {
  position: absolute;
  top: -10%;
  right: 50%;
  translate: 50% 50%;
  width: 300px;
  height: 200px;
  background-color: #9C446E;
  border-radius: 10px;
  scale: 0;
  z-index: 100;
}

.filter-dosk {
  width: auto;
  height: 0px;
  background-color: white;
  position: absolute;
  top: 55px;
  left: 450px;
  border-radius: 5px;
  z-index: 3;
  color: black;
  padding: 5px;
  display: none;
  scale: 0;
}

.filter-dosk p {
  cursor: pointer;
}

.filter-dosk p:hover {
  background-color: #DFE1E6;
}

.filter-active {
  height: auto;
  gap: 5px;
  display: block;
  scale: 1;
}

.filter-block {
  display: block;
}

.canvas-for-search {
  display: none;
  opacity: 0;
  transition: .4s ease;
  width: 100%;
  height: calc(100% - 47px);
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(4px);
}


.finded {
  z-index: 1000;
  box-shadow: 0px 0px 10px 2px white;
}

.finded-block {
  background-color: #883C60 !important;
}

.trash-block {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  left: 50px;
  cursor: pointer;
  display: none;
}

.trash {
  position: fixed;
  bottom: 0;
  left: 50px;
  opacity: 0;
  transition: opacity 600ms, bottom 600ms cubic-bezier(0.305, 0.015, 0.35, 1.385);
}
.trash .lines {
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 200ms cubic-bezier(0.305, 0.015, 0.35, 1.385);
}
.trash .lines#one {
  transition-delay: 300ms;
}
.trash .lines#two {
  transition-delay: 400ms;
}
.trash .lines#three {
  transition-delay: 500ms;
}
.trash.active {
  opacity: 1;
  bottom: 40px;
}
.trash.active .lines {
  transform: scaleY(1);
}
.trash.opened .cover {
  transform: rotateZ(0) translateY(0) translateX(0);
}
.trash .cover {
  transform: rotateZ(35deg) translateY(-14px) translateX(19px);
  transition: transform 500ms cubic-bezier(0.305, 0.015, 0.35, 1.39);
}